<h2>Advanced</h2>
<h4>Newsletter links</h4>
<p>
  When you build a Segment based on newsletter subscribe, we will look for links in the following form:
  <br>
  http://www.yourwebsite.com/somthing?<a href="">utm_medium=email</a>. If you need to use a diffrant
  utm_medium please fill out here.
</p>
<form action="">
  <div class="address-link">
    <div class="advanced-link-title">
      utm_medium=
    </div>
    <input id="name" type="text" class="text-field">
  </div>

  <br>
  <button class="btn" value="save">Save</button>
</form>