<h2>General</h2>
<p>
  <span class="bold">Account ID:</span>40NM-11605 <a href="" class="code-snippet">(Get my code snippet)</a>
</p>
<p>
  <span class="bold">Account Type:</span>Free <a href="">(Upgrade)</a>
</p>
<form action="">
  <label for="name" class="form-title bold">Name</label>
  <input id="name" type="text" class="text-field">

  <label for="website-url" class="form-title bold">Website URL</label>
  <input id="website-url" type="text" class="text-field">

  <button class="btn" value="save">Save</button>
</form>
<p class="bold">
  Need to cancel your account?
  <br>
  Contact support to <a href="">request cancellation.</a>
</p>